.landing-container {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}
.introduction {
    display: flex;
    flex-flow: column;
    width: 50%;
    padding-bottom: 16px;
    align-self: center;
}

.app-name {
    font-weight: bold;
    color: #388E3C;
}
.app-description {
    font-size: 22px;
}
.main {
    font-size: 62px;
    padding-bottom: 16px;
}

.actions {
    display: grid;
    height: 200px;
    grid-template-columns: 48% 52%;
}

.sign-in {
    flex: 1 1 auto;
    background-color: #4CAF50;
}
.sign-in::after {
    content: "Sign in";
    display: block;
    width: 100%;
    height: 200px;
    z-index: 1;
    background-color: #4CAF50;
    color: black;
    transform-origin: bottom left;
    transform: skew(-28deg,0deg);
    font-size: 74px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 22px;
    text-transform: uppercase;
    font-weight: 400;
}

.sign-up {
    flex: 1 1 auto;
    background-color: #673AB7;
}
.sign-up::after {
    content: "Sign up";
    width: 100%;
    height: 200px;
    z-index: 1;
    background: #673AB7;
    color: white;
    transform-origin: bottom left;
    transform: skew(-28deg,0deg);
    font-size: 74px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 22px;
    text-transform: uppercase;
    font-weight: 400;
}